In [37]:
import io
import sqlite3
import pandas as pd

In [51]:
# Cria um arquivo .db no mesmo diretório do .ipynb
con = sqlite3.connect('dbtp1.db')

In [53]:
# Lê o arquivo do moodle. PRECISA SER .txt e estar no MESMO diretório
f = open('database.txt','r', encoding='utf-8')
query = f.read()

In [54]:
statements = query.split(';')

In [55]:
for statement in statements:
    con.execute(statement)

In [57]:
cur = con.cursor()

In [68]:
# query teste
query = """
SELECT id_pessoa as id, nome_completo as nome
FROM Pessoa
WHERE id_pessoa < 10 AND genero = 'F'
"""

df = pd.read_sql_query(query, con)
df

   id                              nome
0   5          Christine Jacoba Aaftink
1   8  Cornelia Cor Aalten (-Strannood)

In [69]:
# Save (commit) the changes
con.commit()
con.close()